:root {
  --grey: #6b6a70;
  --milk-white: #f8f3eb;
  --pit-black: #090909;
  --red: #c32338;
  --light-grey: #ebebeb;
}

#course-section * {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}

.text-milk-white {
  color: var(--milk-white) !important;
}

.text-pit-black {
  color: var(--pit-black) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-milk-white {
  background-color: var(--milk-white) !important;
}

.bg-light-grey {
  background-color: var(--light-grey) !important;
}

#course-section li button {
  cursor: pointer;
  transition: 0.3s ease-out;
}

.active {
  color: black !important;
}

#course-section button:hover {
  opacity: 0.8;
  transition: 0.3s ease-out;
}

#course-section button * {
  pointer-events: none;
}

#course-section li button:hover {
  color: black;
}

.img-arrow {
  height: 20px;
  width: 20px;
}

.hide {
  list-style-type: none !important;
}

#course-container {
  position: relative;
}

#course-card {
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  perspective: 800px;
}

#course-container:hover #course-card {
  transform: rotateY(180deg);
}

#course-card-back,
#course-card-front {
  position: absolute;
  backface-visibility: hidden;
}

#course-card-back {
  transform: rotateY(180deg);
}

#course-section .row {
  min-height: 580px;
}
