:root {
  --grey: #6b6a70;
  --milk-white: #f8f3eb;
  --pit-black: #090909;
  --red: #c32338;
  --light-grey: #ebebeb;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--milk-white);
  color: var(--grey);
}

* {
  font-family: "Lexend", sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  list-style-type: none !important;
}

.text-milk-white {
  color: var(--milk-white) !important;
}

.text-pit-black {
  color: var(--pit-black) !important;
}

.bg-grey {
  background-color: var(--grey) !important;
}

.bg-red {
  background-color: var(--red) !important;
}

.bg-milk-white {
  background-color: var(--milk-white) !important;
}

.bg-light-grey {
  background-color: var(--light-grey) !important;
}

/* body {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 5rem;
} */
